.header__button {
    text-decoration: none;
    margin-left: 10px;
    color: #6c757d;
}

.header__button_active {
    color: #16161A;
    border-bottom: #16161A 1px solid;
    font-weight: bolder;
}

.header {
    background-color: #E2EAFC;
    padding: 30px;
}