.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*background: #16161A;*/
}

.cityImage {
    width: 100vw;
    height: 200vh;
    position: absolute;
    top: 0;
    z-index: -3;
    background-size: contain;
    background-repeat: no-repeat;
}

.leavesImage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 200%;
    z-index: -3;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../static/image/leaves.svg');
    opacity: 0.5;
}

@media (prefers-color-scheme: light) {
    .cityImage {
        background-image: url('../../static/image/whiteCity.png');
    };
    body {
        color: #000000;
        background-color: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    .cityImage {
        background-image: url('../../static/image/darkCity.png');
    }
    body {
        color: #ffffff;
        background-color: #1a1e29;
    }
}

@media screen and (max-width: 600px) {
    .cityImage {
        width: 300vw;
        height: 300vh;
    }
}