.button {
    padding: 10px 13px;
    border: none;
    border-radius: 5px;

    &.brightBlue {
        background-color: #ABC4FF;
        color: white
    }

    &.darkBlue {
        background-color: #C1D3FE;
        color: black
    }

    &.ghost {
        background: none;
        color: black
    }

}