.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.date {
    margin-top: 10px;
    display: flex;
    /*height: 20px;*/
    font-size: x-small;
    align-content: center;
}

.stackList {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.muted {
    color: #6c757d;
    padding: 0.35rem;
    font-weight: normal;
    font-size: x-small;

}

.muted:first-child {
    padding-left: 0;
}

.project {
    display: flex;
}

.block__image {
    width: 100%;
    padding-bottom: 100%;
    height: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.image {
    width: 100%;
    aspect-ratio: 1.78;
    /*height: 100%;*/
}

.description {
    color: #8d8d8d;
    text-align: justify;
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

@media (prefers-color-scheme: light) {
    .root {
        color: #000000;
    }
}
@media (prefers-color-scheme: dark) {
    .root {
        color: #ffffff;
    }
}

.root_light {
    color: #000000;
}