.projects__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.projects {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.projects__header {
    margin-top: 100px;
    font-size: 60px;
    justify-content: center;
    flex-direction: column;
}

.projects__element {
    width: 48%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.projects__search {
    display: flex;
    width: 100%;
    margin-top: 40px;
}

.projects__search-input {
    border-radius: 15px;
    font-size: 1.2em;

    border: 1px solid #dfe1e5;
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
}

@media (max-width: 1000px) {
    .projects__element {
        width: 100%;
    }

    .projects__search-input {
        width: 100%;
    }
    .projects__header {
        margin-top: 200px;
    }
}