.icon {
  width: 24px;
  height: 24px;
  margin: 5px;
}

.developer {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  border-radius: 8px;
  background: #ffffff;
  padding: 20px;
}

.developer__img {
  max-width: 300px;
  border-radius: 8px 8px 0px 0px;
}

.developer__contacts {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 300px;
  font-size: 20px;
}

.developer__bio {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  font-size: 18px;
  color: #4B4C52;
  text-align: justify;
}