.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*background: #16161A;*/
    width: 100vw;
    @media screen and (max-width: 600px) {
        margin-top: 100px;
    }
}

.cityImage {
    width: 100vw;
    height: 200vh;
    position: absolute;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    background-image: url('../../static/image/darkCity.webp');
}

.leavesImage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 200%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../static/image/leaves.svg');
    opacity: 0.5;
    pointer-events: none;
}

@media (prefers-color-scheme: light) {
    // .cityImage {
    //     background-image: url('../../static/image/whiteCity.webp');
    // };
    body {
        color: #000000;
        background-color: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    // .cityImage {
    //     background-image: url('../../static/image/darkCity.webp');
    // }
    body {
        color: #ffffff;
        background-color: #1a1e29;
    }
}

@media screen and (max-width: 600px) {
    .cityImage {
        width: 100vw;
    }
}

.cityImage_light {
    background-image: url('../../static/image/whiteCity.webp');
}