.layout {
  position: absolute;
  width: 100vw;
  max-height: 100vh;
  color: rgb(250, 250, 250);
  background-color: #1a1e29;
  z-index: -5;
  @media screen and (max-width: 600px) {
    max-height: 250vh;
  }
}

.layout_light {
  color: #000000;
  background-color: #ffffff;
}