.developers {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 80%;
  @media screen and (max-width: 600px) {
    width: 90%;
  }
  z-index: 10;
}
.developers__header {
  font-size: 60px;
  margin-bottom: 50px;
}
.developers__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
}