.developers {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.developers__header {
  font-size: 60px;
  padding: 20px;
}
.developers__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  list-style-type: none;
}